/*changed font size and font-family to mimic original*/
body {
    background-color:black;
    font-family: verdana;
    font-size: 11pt;
  }
  /*header 1 to grey*/
h1{
  color:grey;

}
/*changed margin: auto to center align maindiv*/
.maindiv {
background-color: white;
color: black;
width: 450px;
padding: 20px;
border-radius: 25px;
margin: auto;
text-align: center;
}
